.keyboardButton{
	padding:10px;
	margin:2px;
	font-size: 1.5em;
}
#jumbotron{
	background-image: url('../images/hangman.jpg');
	background-size: 75%;
}
.clue-buttons{
	margin: 5px;
	font-size: 1.0em;
}